@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --monoprimaryColor: #f0f8ff;
  --diprimaryColor: #00c89e;
  --triprimaryColor: #040431;
  --fouprimaryColor: hsl(36, 78%, 73%);
}

body {
  color: var(--triprimaryColor);
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
}

/* Typo */
img {
  display: block;
  max-width: 100%;
  margin: 0;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-size: clamp(1.4rem, 1.22rem + 1.25rem, 1.35rem);
  font-weight: 500;
}

h2 {
  font-size: clamp(1.3rem, 1.1rem + 1.22rem, 1.3rem);
  font-weight: 200;
}

p {
  font-size: 1.2rem;
}

nav {
  color: var(--monoprimaryColor);
}

section {
  min-height: 100vh;
  width: 100%;
  padding: 0.5em;
  background: rgba(240, 248, 255, 0.85);
}

label,
input,
textarea {
  display: block;
  text-transform: capitalize;
}

/* DEFAULT QUERY */
@media (min-width: 710px) {
  section {
    padding: 2em;
  }
}

/* DEFAULTS */
/* =========
Default Style
======== */
.unique_header {
  color: black;
  margin: 2em 0;
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  border-left: 2px solid rgba(0, 0, 0, 0.5);
  border-right: 2px solid rgba(0, 0, 0, 0.5);
}

.transBG {
  margin: 0.4em 0;
  background: rgba(240, 248, 255, 0.15);
  box-shadow: 12px 12px 5px rgba(0, 0, 0, 0.35);
}

.defaultInputs {
  border: none;
  outline: none;
  border-bottom: 1px solid hsla(36, 78%, 73%, 0.4);
  background: transparent;
}

.defaultInputs:hover,
.defaultInputs:focus {
  border-bottom: 1px solid #00c89d;
}

.defaultHomeButton {
  position: relative;
  background: #00c89d;
  min-width: 100px;
  height: 50px;
  border-radius: 0px;
}

.button_text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: inherit;
}

.button_text a {
  color: aliceblue;
  display: block;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_flow {
  height: 100%;
  width: 0%;
  background: aliceblue;
  transition: all 1.5s ease-out;
  border-radius: inherit;
}

.button_text:hover ~ .button_flow,
.button_text:focus ~ .button_flow {
  width: 100%;
  color: #00c89d;
}

.button_text:hover a {
  color: #00c89d;
}

.defaultWhiteButton {
  display: block;
  margin: 0 auto;
  padding: 0.9em;
  border-radius: 2px;
  background-color: var(--monoprimaryColor);
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in;
  border-bottom: 1px solid var(--fouprimaryColor);
  text-transform: capitalize;
}

.defaultWhiteButton:hover,
.defaultWhiteButton:focus {
  transform: scale(1.1);
  border-bottom: 1px solid var(--diprimaryColor);
}

.defaultWhiteButton > * {
  color: black;
}

.floatPriceBox {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  text-align: center;
}

.floatPriceTag {
  padding: 1em;
  background-color: var(--monoprimaryColor);
}

.floatButtonBox {
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
  text-align: center;
}

.floatButtonTag {
  padding: 1em;
  background-color: var(--monoprimaryColor);
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.5s ease-in;
}

.floatButtonTag:hover,
.floatButtonTag:focus {
  transform: scale(1.2);
}

/* TEXT */
.default-stl-text {
  color: var(--fouprimaryColor);
}
